body {
    margin: auto;
    max-width: 390px;
    min-height: 844px;
    /*.background-image {*/
    /*    background-image: url('/images/image-file.jpg');*/
    /*    background-size: cover;*/
    /*    background-repeat: no-repeat;*/
    /*    !* 추가적인 스타일링 옵션들을 설정할 수 있습니다 *!*/
    /*}*/
    /*background-image:url('../public/backgroundImg.jpg');*/
    /*background-image:url('../public/backgroundImg2.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*color: #fff;*/



    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
